<main class="main">
    <div class="main__explanation container">
        <h1 class="main__explanation-h1">Как это работает</h1>
        <div class="main__explanation-div">
            <div class="main-explanation-items">
                <img class="main__explanation-icon" src="/public/waiting.png" alt="explanation-icon">
                <h4 class="main__explanation-h4">Прочитай задание внимательно</h4>
                <p class="main__explanation-description">Думаю у тебя не займет это больше двух-трех минут</p>
            </div>
             <div class="main-explanation-items">
                <img class="main__explanation-icon" src="" alt="explanation-icon">
                <h4 class="main__explanation-h4">Изучи весь макет заранее</h4>
                <p class="main__explanation-description">Подумай как это будет работать на разных разрешениях и при скролле</p>
            </div>
             <div class="main-explanation-items">
                <img class="main__explanation-icon" src="" alt="explanation-icon">
                <h4 class="main__explanation-h4">Сделай хорошо</h4>
                <p class="main__explanation-description">Чтобы мы могли тебе доверить подобные задачи в будущем</p>
            </div>
             <div class="main-explanation-items">
                <img class="main__explanation-icon" src="" alt="explanation-icon">
                <h4 class="main__explanation-h4">Получи предложение</h4>
                <p class="main__explanation-description">Ну тут все просто, не я придумал правила, но думаю так и будет)))</p>
            </div>
        </div>
    </div>
</main>