> git rebase test
error: The following untracked working tree files would be overwritten by checkout:
	.gitignore
Please move or remove them before you switch branches.
Aborting
error: could not detach HEAD
> git rebase test
error: The following untracked working tree files would be overwritten by checkout:
	.gitignore
Please move or remove them before you switch branches.
Aborting
error: could not detach HEAD
git config core.ignorecase true
node_modules
