<header class="header">
  <div class="header__div">
    <div class="header__logo">
      <div class="header__radius">
        <div class="header__blue-back"></div>
        <div class="header__white-back"></div>
      </div>
      <div class="header__title">testLab</div>
    </div>
    <nav class="header__nav">
      <input type="checkbox" id="burger-checkbox" class="burger-checkbox" />
      <label for="burger-checkbox" class="burger"></label>
      <ul class="header__ul">
        <li class="header__li"><a href="#">Как это работает</a></li>
        <li class="header__li"><a href="#">3-й блок</a></li>
        <li class="header__li"><a href="#">Вопрос и ответы</a></li>
        <li class="header__li"><a href="#">Форма</a></li>
      </ul>
    </nav>
  </div>
  <div class="header__second-div">
    <h2 class="header__h2">Говорят, никогда не поздно сменить профессию</h2>
    <h4 class="header__h4">Сделай круто тестовое задание и у тебя получится</h4>
    <button class="header__btn" type="submit">Проще простого!</button>
  </div>
</header>
